<a href="https://colab.research.google.com/github/silvaniacorreia/desafio_BIGMAAP/blob/main/Previs%C3%A3o_de_Temperaturas_em_Sorocaba.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LinearRegression
from sklearn import preprocessing

%matplotlib inline

temperature_data = pd.read_csv('/content/drive/MyDrive/projeto_laboratorio/daily_temperatures.csv') 

temperature_data.head()

,time,temperature_2m_mean (°C),sunrise (iso8601),sunset (iso8601),shortwave_radiation_sum (MJ/m²),precipitation_sum (mm),rain_sum (mm),precipitation_hours (h),windspeed_10m_max (km/h),windgusts_10m_max (km/h),winddirection_10m_dominant (°),et0_fao_evapotranspiration (mm)
0,2000-01-01,21.1,2000-01-01T05:25,2000-01-01T19:01,9.15,22.9,22.9,17.0,24.9,49.3,160,1.81
1,2000-01-02,21.1,2000-01-02T05:26,2000-01-02T19:01,16.50,5.7,5.7,10.0,23.9,46.4,155,3.14
2,2000-01-03,20.8,2000-01-03T05:26,2000-01-03T19:01,17.86,6.8,6.8,12.0,19.5,38.2,149,3.39
3,2000-01-04,20.3,2000-01-04T05:27,2000-01-04T19:01,3.38,50.2,50.2,24.0,14.8,48.6,23,0.83
4,2000-01-05,20.7,2000-01-05T05:28,2000-01-05T19:02,5.78,22.3,22.3,24.0,19.2,43.2,1,1.15